<h2>search results</h2>
<% @pages.each do |page| %>
	<% if can? :read, page %>
		<p><%= link_to page.title, page %></br><hr><%= truncate_html(page.content, :length => 400, :omission => "...") %></p>
	<% end %>
<% end %>
	