// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.readmore {
  text-decoration: none;
  color: #00aeef;
}
a.readmore:hover {
  text-decoration: underline;
  color: #00aeef;
}
a.readmore:visited {
  text-decoration: none;
  color: #ec008c;
}
