@font-face {
    font-family: Interstatelight;
    src: url('http://designunited.heroku.com/font/interstate-light-webfont.eot');
    src: url('http://designunited.heroku.com/font/interstate-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://designunited.heroku.com/font/interstate-light-webfont.woff') format('woff'),
         url('http://designunited.heroku.com/font/interstate-light-webfont.ttf') format('truetype'),
         url('http://designunited.heroku.com/font/interstate-light-webfont.svg#InterstateLightRegular') format('svg');
    font-weight: 800;
    font-style: normal;
}

body {
	background: image-url('bg.gif');
}

div#wrapper {
	min-height: 100%;
	margin-bottom: 0px;
	position: relative;
	width: 910px;
	margin-left: auto;
	margin-right: auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 70%;
	letter-spacing: 0.05em;
	line-height: 150%;
}

div#footer {
	height: 50px;
	position: relative;
	background-color:#2e3192;
    color: #FFFFFF;
    font-family: Interstatelight, Verdana, Geneva;
    font-size: 100%;
    font-variant: small-caps;
	text-align: center;
	td {
		margin-left: auto;
		margin-right: auto;
	}
	table {
		width: 100%;
	}
	width: 490px;
	margin-left: 20px;
	margin-right: 0px;;
}

div#footercenter {
width: 510px;
	margin-left: auto;
	margin-right: auto;
}

div.clearfooter {
	height: 0px;
	clear: both;
}

div#leftcol {
    width: 200px;
    margin-top: -5px;
	margin-left: 0px;
	margin-bottom: 10px;
	margin-right: 10px;
    float: left;
}

div#DULogo {
	background-color: #FFF;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 18px;
}

a img {
	border: none;
}

div#leftcontent {
	background-color: #FFF;
	padding: 10px;
}

H2 {
    font-family: Interstatelight !important;
    font-size:160%;
    color: #2e3192;
    border-bottom: 1px solid #2e3192;
    line-height: 140%;
}

H3 {
    font-family:Interstatelight !important; 
    font-size: 140%;
    color: #000000;
    line-height: 140%;
	a {
		text-decoration: none;
		color: #000;
	}
	a:hover {
	    color: #2e3192;
	}
}

div#midcol {
	width: 490px;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

div#navigation {
    width:100%;
    float:left;
    text-align:center;
    font-family:Interstatelight, Verdana, monospace;
    font-size:120%;
}

table.navmenu {
	width: 100%;
	float: left;
	text-align: center;
	margin-left: 0px;
	margin-top: -10px;
	border-spacing: 0px;
	letter-spacing: 0.1em;
	td {
		width: auto;
	}
}


div a.navlink {
	text-decoration: none;
	font-family: Interstatelight, Verdana, monospace;
	color: white;
	background: #2E3192;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
}

td.navlink {
	width: 70px !important;
}

div table#contact {
	float: right;
	margin-top: -12px;
	margin-right: -203px;
}

div#content {
	background-color: #FFF;
	margin-top: 29px;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;}

div.actions {
	text-align:right;
    color:#666;
    float:right;
    position:relative;
    top:-30px;
    line-height:0%;
	a:link {
		text-decoration: underline;
		color:#999;
		background: #FFF;
	}
	a:hover {
		font-weight: bold;
	}
}

div#rightcol {
	margin-top: 31px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 0px;
  	width: 180px;
	float: right;
	input {
		width: 160px;
	}
}

div#search input#search_content_contains {
	width: 154px;
}

div#login, div#search, div#events {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Interstatelight, Verdana, Geneva;
    font-size: 100%;
    margin-left:0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	h2 {
		padding-top: 5px;
	}
}

td.eventtitle {
	a {
		text-decoration: none;
	}
}

td.eventmonth {
	text-transform: uppercase;
}

div.backgroundtitle {
    background-color:#2e3192;
    color: #FFFFFF;
    font-family: Interstatelight, Verdana, Geneva;
    font-size: 100%;
	padding-left: 10px;
	margin-left: -10px;
	margin-right: -10px;
	a {
		color: #FFF;
		text-decoration: none;
	}
}

div.field {
	input {
		display: block;
		width: 160px;
	}
}

p#notice, p#alert {
	padding: 5px 8px;
	margin: 10px 0;
}

p#notice {
	background-color: #CFC;
	border: solid 1px #6C6;
}

p#alert {
	background-color: #FCC;
	border: solid 1px #C66;
}