<a class="navlink" href="#">home</a>
<a class="navlink" href="#">about</a>
<a class="navlink" href="#">projects</a>
<a class="navlink" href="#">cases</a>
<a class="navlink" href="#">blog</a>
<a class="navlink" href="#">events</a>